<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu">
  <link href="/s/perf360.css" rel="stylesheet" type="text/css"/>
  <title>Perf360 Peer Review</title>
</head>
<body>
  <header class="top-bar">
    <div class="brand">
      <img src="/s/360.png" alt="Perf360 Logo">
      <h1>Peer Review</h1>
    </div>
    {{if .Profile}}
    <div class="actions">
      {{if and .User .User.IsManager}}<a href="/manage">Manage</a>{{end}}
      <a href="#" onclick="window.print(); return false;">Print</a>
      <a href="{{.LogoutURL}}">Log out</a>
    </div>
    {{end}}
  </header>

  {{if .Profile}}
  <p>User: {{.Profile.GivenName}}</p>
  <p>Period: {{.Period}}</p>
  <p>Manager: {{.User.Manager}}</p>
  <p>Status: {{.Status}}</p>
    {{if eq .Status "open" }}
    <h2>Select peer</h2>
    <form action="/select" method="post">
      <select name="peer" onchange="this.form.submit();">
        <option value="">-- Select peer --</option>
        {{range $user := .Users}}
        <option value="{{ $user.Name }}"{{if eq $.Review.Peer $user.Name}} selected{{end}}>{{ $user.Name }}</option>
        {{end}}
      </select>
    </form>

    {{if .Review.Peer }}
    <h2>Feedback for {{.Review.Peer}}</h2>
    <form action="/feedback" method="post">
      <textarea name="feedback" rows="15">{{.Review.Feedback}}</textarea>
      <br>
      <button type="submit">Save</button>
    </form>
    {{end}}
    {{end}}    
    {{if .Reviews }}
    <h2>Feedback for me</h2>
      {{range $review := .Reviews}}
      <div class="boxed"> 
        {{$review.Name}} says:<br>
        <textarea rows="15" readonly>{{$review.Feedback}}</textarea><br>
        <em>Last updated: {{$review.Updated}}</em><br>
      </div>
      {{end}}
    {{else}}
    <p>No feedback for you yet. Check back later.<p>
    {{end}}

  {{else}}
    <div><a href="{{.LoginURL}}">Log in</a></div>
  {{end}}
  {{.Footer}}
</body>
</html>
